.elements {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 28px;
  column-gap: 32px;
  list-style: none;
  padding-left: 0;
  padding-top: 70px;
  justify-items: center;
}

@media (max-width: 1040px) {
  .elements {
    grid-template-columns: repeat(2, auto);
    row-gap: 35px;
    column-gap: 24px;
  }
}

@media (max-width: 700px) {
  .elements {
    grid-template-columns: repeat(1, auto);
    justify-content: space-around;
  }
}

@media (max-width: 320px) {
  .elements {
    row-gap: 16px;
  }
}

.element {
  max-width: 360px;
  width: 100%;
  position: relative;
  list-style: none;
  display: grid;
  grid-template-rows: 54px 200px 65px;
  justify-items: center;
  align-items: center;
  transition: background-color 0.5s, opacity 0.5s;
  background: rgba(34, 34, 34, 1);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.element__color {
  background: inherit;
  opacity: 1;
}

@media (max-width: 768px) {
  .element {
    max-width: 342px;
    grid-template-rows: 54px 190px 65px;
  }
}

@media (max-width: 320px) {
  .element {
    max-width: 300px;
    grid-template-rows: 46px 168px 57px;
  }
}

.element__title {
  display: flex;
  align-items: center;
  max-width: calc(360px - 18px * 2);
  width: 100%;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.element__name {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 14px;
}

@media (max-width: 320px) {
  .element__name {
    font-size: 12px;
  }
}

.element__time {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: rgba(139, 139, 139, 1);
  max-width: min-content;
  width: 100%;
  text-align: right;
}

@media (max-width: 320px) {
  .element__time {
    font-size: 10px;
  }
}

.element__img {
  max-width: 360px;
  width: 100%;
  max-height: 200px;
  background-image: cover;
}

@media (max-width: 768px) {
  .element__img {
    max-width: 342px;
  }
}

.element__button-active {
  margin: 0;
  padding: 0;
  max-width: 100px;
  width: 100%;
  max-height: 29px;
  height: 100%;
  border-radius: 30px;
  background: rgba(238, 52, 101, 1);
  border: none;
  cursor: pointer;
}

.element__icon {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.element__button-not-active {
  margin: 0;
  padding: 0;
  max-width: 100px;
  width: 100%;
  max-height: 29px;
  height: 100%;
  border-radius: 30px;
  background: rgba(49, 49, 49, 1);
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 11px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}