.moviesCard {
  max-width: calc(1280px - 70px * 2);
  margin: 0 auto;
  padding: 0 70px 10px;
}

.moviesCard__add {
  max-width: calc(1280px - 70px * 2);
  margin: 0 auto;
  text-align: center;
  padding: 50px 70px 80px;
}

.moviesCard__button {
  display: inline-block;
  max-width: 320px;
  width: 100%;
  max-height: 36px;
  height: 100%;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 36px;
  background: inherit;
  color: rgba(255, 255, 255, 1);
  outline: 1px solid rgba(66, 66, 66, 1);
  border: none;
  border-radius: 6px;
}

.elements {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  row-gap: 28px;
  column-gap: 32px;
  list-style: none;
  padding-left: 0;
  padding-top: 70px;
  box-sizing: border-box;
}

.element {
  position: relative;
  list-style: none;
  display: grid;
  grid-template-rows: 54px 200px 65px;
  justify-items: center;
  align-items: center;
  background: rgba(34, 34, 34, 1);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.element__title {
  display: flex;
  align-items: center;
  width: calc(100% - 18px * 2);
  justify-content: space-between;
}

.element__name {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 14px;
}

.element__time {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: rgba(139, 139, 139, 1);
  max-width: 70px;
  width: 100%;
  text-align: right;
}

.element__button-active {
  margin: 0;
  padding: 0;
  max-width: 100px;
  width: 100%;
  max-height: 29px;
  height: 100%;
  border-radius: 30px;
  background: rgba(238, 52, 101, 1);
  border: none;
}

.element__icon {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.element__button-not-active {
  width: 100px;
  height: 29px;
  border-radius: 30px;
  background: rgba(49, 49, 49, 1);
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 11px;
  color: rgba(255, 255, 255, 1);
}