.headerProfile {
  min-height: 74px;
  max-width: calc(1280px - 70px * 2);
  margin: 0 auto;
  padding: 0 70px;
  display: grid;
  grid-template-columns: 38px 1fr;
  column-gap: 44px;
  align-items: center;
}

@media (max-width: 768px) {
  .headerProfile {
    justify-items: end;
    max-width: calc(768px - 30px * 2);
    padding: 0 30px;
  }
}

@media (max-width: 320px) {
  .headerProfile {
    max-width: calc(320px - 14px * 2);
    padding: 0 14px;
  }
}

.headerProfile__nav {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .headerProfile__nav {
    display: none;
  }
}

.headerProfile__nav-icons {
  display: none;
}

@media (max-width: 768px) {
  .headerProfile__nav-icons {
    display: flex;
  }
}

@media (max-width: 320px) {
  .headerProfile__nav-icons {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 43px;
  }
}

.headerProfile__links {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 16px;
}

.headerProfile__link {
  min-width: max-content;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}

.headerProfile__link:active {
  text-decoration: underline;
}

.headerProfile__icons {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 17px;
  align-items: center;
  text-decoration: none;
}

.headerProfile__acaunt {
  min-width: max-content;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.headerProfile__icon {
  background: rgba(49, 49, 49, 1);
  border-radius: 4px;
  padding: 8px 7.25px;
}