.not-found {
  display: grid;
  grid-template-rows: 169px 19px 17px;
  min-height: 100vh;
  align-content: center;
  justify-items: center;
}

.not-found__title {
  margin: 0;
  padding-top: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 140px;
  line-height: 169px;
  color: rgba(255, 255, 255, 1);
}

.not-found__text {
  margin: 0;
  padding-top: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 1);
}

.not-found__link {
  margin: 0;
  padding-top: 184px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(66, 133, 244, 1);
}