.about-project {
  display: flex;
  flex: 1;
  margin: 0 auto;
  justify-content: center;
}

.about-project-section {
  max-width: calc(1280px - 70px * 2);
  padding: 110px 70px;
}

@media (max-width: 768px) {
  .about-project-section {
    padding: 90px 50px;
  }
}

@media (max-width: 640px) {
  .about-project-section {
    padding: 70px 18px;
  }
}

.about-project__block {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  column-gap: 40px;
  padding-top: 70px;
}

@media (max-width: 768px) {
  .about-project__block {
    column-gap: 30px;
    row-gap: 22px;
  }
}

@media (max-width: 640px) {
  .about-project__block {
    grid-template-columns: 1fr;
    row-gap: 56px;
    padding-top: 60px;
  }
}

.about-project__description {
  margin: 0;
}

.about-project__block-title {
  margin: 0 0 26px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

@media (max-width: 768px) {
  .about-project__block-title {
    margin: 0 0 22px;
  }
}

@media (max-width: 640px) {
  .about-project__block-title {
    margin: 0 0 16px;
    font-size: 18px;
    line-height: 22px;
  }
}

.about-project__block-text {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 768px) {
  .about-project__block-text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 640px) {
  .about-project__block-text {
    font-size: 11px;
    line-height: 16px;
  }
}

.about-project__block-time {
  margin: 0;
  padding-top: 110px;
  list-style-type: none;
  padding-left: 0;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 36px 17px;
  row-gap: 14px;
}

@media (max-width: 768px) {
  .about-project__block-time {
    padding-top: 93px;
    grid-template-columns: 1fr 3.77fr;
  }
}

@media (max-width: 640px) {
  .about-project__block-time {
    padding-top: 60px;
    grid-template-columns: 1fr 1.84fr;
    grid-template-rows: 35px 13px;
    row-gap: 10px;
  }
}

.about-project__time {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

@media (max-width: 640px) {
  .about-project__time {
    font-size: 11px;
    line-height: 13px;
  }
}

.about-project__block-height-36 {
  line-height: 36px;
}
