/* Блок тумблера  searchForm__section-tumb*/

.searchForm__tumb {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 14px;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 43px;
}


/* Блок инпута */

.searchForm__tumb-span {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 36px;
  height: 20px;
  border: none;
  border-radius: 25%/50%;
  vertical-align: top;
  background: rgba(52, 52, 52, 1);
  transition: .2s;
}

.searchForm__tumb-text {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
}


/* Шарик */

.searchForm__tumb-span:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgba(160, 160, 160, 1);
  transition: .15s;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}

.searchForm__tumb-input {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.searchForm__tumb-input:checked+.searchForm__tumb-span:before {
  transform: translateX(16px);
  background: rgba(43, 224, 128, 1);
}